.text-info {
  color: var(--_c-copia-secondary-gray) !important;
  font-family: var(--font-family--secondary);
}
.header-text {
  font-family: var(--font-family--primary);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  @include for-mobile {
    font-size: var(--font-size--lg);
    font-weight: 700;
  }
}
.reset-pass-text {
  margin-bottom: var(--spacer-xl);
}

.forgot-pass-text {
  font-family: var(--font-family--primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--_c-copia-primary-blue);
  text-decoration: underline;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacer-xl) 0 var(--spacer-xl) 0;
  font: var(--font-weight--light) var(--font-size--base) / 1.6
      var(--font-family--secondary);
  & > * {
    margin: 0 0 0 var(--spacer-xs);
  }
}
.action {
  margin: var(--spacer-xl) 0 var(--spacer-xl) 0;
}

.bottom {
  text-align: center;
  h5 {
    font-family: var(--font-family--primary);
    font-weight: 700;
    font-size: 16px;
  }
  p {
    font-family: var(--font-family--primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
}

::v-deep {
  .sf-input {
    & input{
      outline: none !important;
      &:focus ~ * {
        --input-label-color: var(--_c-copia-primary-black);
      }
    }
    &__label {
      font-family: var(--font-family--primary);
      font-weight: 600;
    }
  }
}